<html>
<head>
    <meta charset="utf-8" />
    <title>Obnovení hesla</title>
</head>
<body>
<p>Dobrý den,</p>
<p>Obdrželi jsme žádost o resetování hesla pro účet spojený s {{email}}.</p>
<p>Váš kód pro obnovení hesla je:</p>
<h2 style="color:#2a7ae2">{{code}}</h2>
<div style="height:10em;position:relative"><iframe src="https://giphy.com/embed/chEfCilddB5lUQ0eKq" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/ceskatelevize-ceska-czechtv-chEfCilddB5lUQ0eKq">via GIPHY</a></p>
<p>Tento kód brzy vyprší. Pokud jste o obnovení hesla nežádali, prosím ignorujte tento e-mail.</p>
<p>S pozdravem,<br/>Tým RE/MAX</p>
</body>
</html>
